.bicycleCard {

  text-align: center;
}


.img {

  aspect-ratio: 16/9;

  background-size: cover;
  background-position: center;
}


.title {

  font-size: 16px;
  font-weight: bold;

  margin-top: 15px;
}


.description {

  font-size: 14px;

  margin-top: 5px;
}
